.login_container, .register_container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 425px;
}

.login_form {
  max-width: 400px;
  margin: 0 auto;
}

.login_form .input_with_label {
  margin-bottom: 15px;
}

.login_form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login_form .input_with_label input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login_form .login_buttons {
  display: flex;
  justify-content: space-between;
}

.login_form .login_btn,
.login_form .register_btn {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login_form .login_btn:disabled, .login_form .register_btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.login_form .register_btn {
  background-color: #28a745;
}

.login_form .message {
  margin-top: 10px;
  color: red;
  font-size: 14px;
}

.register_container h1 {
  text-align: center;
}

.login_form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
